.hero {
  background-image: linear-gradient(
      to left,
      rgb(0, 0, 0, 0.05),
      rgb(0, 0, 0, 0.5)
    ),
    url("./images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  height: 100vh;
}

.column-vertical-center-override {
  margin: auto 0;
  flex-grow: 0;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
