/* .hero {
  background-image: linear-gradient(
      to left,
      rgb(0, 0, 0, 0.05),
      rgb(0, 0, 0, 0.5)
    ),
    url("./images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  height: 100vh;
} */

html {
  background: url("./images/hero.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#covid-info {
  justify-content: flex-start;
}

#covid-image {
  border-radius: 50%;
}
#city-input {
  width: 800px;
  border-radius: 25px;
  border: 2px;
  padding: 20px;
}

#search-button {
  border-radius: 20%;
}

.card {
  border-radius: 15px;
}

.numbers-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.message-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.how-it-works-number-container {
  display: inline;
}

.how-it-works-number {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.how-it-works-message-container {
  width: 200px;
  display: inline;
}
