/* Background image */
html {
  background: url("../images/hero.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-background-colour-override {
  background-color: transparent;
}
/* COVID section */
#covid-info {
  justify-content: flex-start;
}

#covid-image {
  border-radius: 50%;
}

/* Search bar */
#city-input {
  width: 800px;
  border-radius: 25px;
  border: 2px;
  padding: 20px;
}

#search-button {
  border-radius: 20%;
}

/* Cards */
.card {
  border-radius: 15px;
}

/* How it works section */
.numbers-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.message-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.how-it-works-number-container {
  display: inline;
}

.how-it-works-number {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.how-it-works-message-container {
  width: 200px;
  display: inline;
}

/* Media queries */

/* Tablet */
@media screen and (max-width: 925px) {
  .search-bar-container {
    flex-direction: column;
  }
  .how-it-works-number-container {
    flex-direction: column;
  }
  .how-it-works-message-container {
    flex-direction: column;
  }
  #covid-section {
    flex-direction: column;
    width: 90%;
    font-size: 20px;
  }
  #city-input {
    font-size: 1rem;
    text-align: center;
    width: 600px;
    margin-bottom: 1rem;
    display: block;
  }

  .card {
    font-size: 20px;
  }
}

/* Mobile phones */
@media screen and (max-width: 576px) {
  .search-bar-container {
    flex-direction: column;
  }
  .how-it-works-number-container {
    flex-direction: column;
  }

  #city-input {
    font-size: 1rem;
    text-align: center;
    width: 400px;
    margin-bottom: 1rem;
    display: block;
  }
  .how-it-works-message-container {
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 30%;
    text-align: center;
  }
  #covid-section {
    flex-direction: column;

    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .search-bar-container {
    flex-direction: column;
  }
  #city-input {
    font-size: 1rem;
    text-align: center;
    width: 250px;
    display: block;
  }

  .how-it-works-number-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 20%;
  }

  .how-it-works-message-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 20%;
    text-align: center;
  }
  #covid-section {
    flex-direction: column;
    width: 90%;
    text-align: center;
  }
}
